
/* <!-- ------------NAV STARTS--------------> */

@font-face {
    font-family:'skb' ;
    src: url(../fonts/Sk-Modernist-Bold.otf);
}
@font-face {
    font-family:'skr' ;
    src: url(../fonts/Sk-Modernist-Regular.otf);
}

:root{
    --red-color-: #FF174E;
    --white-color-:#393939 ;
    --black-color-: #FFFFFF;
}

/* ---------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    /* max-width: 1500px; */
    margin: auto;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
    
}

.nav-container>ul{
    display: flex;
    gap: 40px;
    font-family: skr;
}

.nav-container>ul>li>a{
    color: #393939;
}

.cta-btn{
    padding: .8rem 2rem;
    border: none;
    background-color: #FF174E;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: skr;
    font-size: 1.1em;
    transition: 0.3s all  ease-in-out;
    cursor: pointer;
}

.cta-btn:hover{
    color: #FF174E;
    background-color: #393939;
}

.link::after{
    content: '';
    background-color: #FF174E;
    display: block;
    height: 1px;
    width: 0;
    transition: 0.3s all ease-in-out;
}

.link:hover::after{
    width: 100%;
}

/* <!-- ------------NAV ENDS--------------> */

/* <!-- ------------HERO STARTS--------------> */

.header-container{
    /* max-width: 1500px; */
    height: 60vh;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    text-align: left;
}

.title-1{
    color: #FF174E;
    font-family: skb;
    font-size: clamp(3rem, 10vw, 7rem);
    text-transform: capitalize;
    padding-top: 2rem;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: 1s all ease-in-out;
}
.title-2{
    color: #393939;
    font-family: skb;
    font-size: clamp(3rem, 10vw, 6rem);
    text-transform: capitalize;
    margin-top: -1rem;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: 1s all ease-in-out;
}

.title{
    transform: translateY(30px);
}

.main-para{
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-family: skr;
    color: #393939;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0  2rem  0;
    text-align: center;
}

.learn-more{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.learn-more>p{
    color: #393939;
    font-family: skr;
    letter-spacing: 5px;
    font-size: clamp(.7rem, .2vw, 1.4rem);
}

/* <!-- ------------HERO ENDS--------------> */

.here-img-container{
    width: 100%;
    height: 90vh;
    background-image: url(../images/pexels-stefan-stefancik-91227.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0 100%);
    transition: 1.5s all ease-in-out;
}

/* --------------PROJECT SECTION START-------------- */

.pro-title-con{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: skb;
    font-size: clamp(3rem, 5vw, 7rem);
}

.pro-title{
    z-index: -1;
}

.pro-title>span{
    color: #FF174E;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pro-img-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 2rem 0;
}

.pro-img{
    width: 65%;
}

/*---------------PROJECT SECTION END--------------*/

/*---------------ROLE STARTS--------------*/

.sec-3{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.role{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}


.role-right{
    width: 60%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.role-container{
    padding:  0 2rem 2rem 2rem;
}

.hr{
    margin-bottom: 1rem;
}

.role-title{
    font-size: clamp(2rem, 2vw, 3rem);
    color: hsla(0, 0%, 22%, 0.5);
    font-family: skb;
}

.role-container>h3{
    color: #FF174E;
    font-family: skb;
    padding-bottom: 1rem;
    font-size: clamp(2rem, 2.5vw, 2rem);
}

.role-container>p{
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #393939;
    font-family: skr;
    line-height: 22px;
}



/*---------------ROLE END--------------*/

